html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column: 2 / span 6;
}

footer {
  grid-column: 2 / span 6;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 10px repeat(6, 1fr) 10px;
  grid-template-rows: max-content;
  row-gap: 15px;
  place-content: center;
  place-items: center;
}

@media (min-width: 375px) {
  .container {
    column-gap: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 2rem repeat(6, 1fr) 2rem;
    margin-top: 4rem;
  }
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr repeat(12, 70px) 1fr;
  }

  main {
    grid-column: 2 / span 12;
  }

  footer {
    grid-column: 2 / span 12;
  }
}
