@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 6;
}

main > div > p:last-of-type {
  margin-bottom: 0;
  color: #535353;
}

h1 span {
  color: #D11000;
}

h2:nth-child(odd) {
  font-weight: 300;
  color: #bdc0c6;
}

a, a:visited {
  color: #a60c0c;
}

a:hover {
  color: #860404;
}

footer {
  grid-column: 2 / span 6;
  color: #535353;
  font-style: italic;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 10px repeat(6, 1fr) 10px;
  grid-template-rows: max-content;
  row-gap: 15px;
  place-content: center;
  place-items: center;
}

@media (min-width: 375px) {
  .container {
    column-gap: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 2rem repeat(6, 1fr) 2rem;
    margin-top: 4rem;
  }
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr repeat(12, 70px) 1fr;
  }

  main {
    grid-column: 2 / span 12;
  }

  footer {
    grid-column: 2 / span 12;
  }
}
